@CHARSET "UTF-8";

.footertext {
	margin-top: 40px;
	text-align: center;
	font-weight: 400px;
	font-size: 20px;
	color: black;
text-shadow: 2px 2px 0px #fff, 2px 2px 0px rgba(0,0,0,0.15);
}

.footer {
	min-height: 100px
}