@CHARSET "UTF-8";

.menuTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.menuTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.menuTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.menuTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}

.menuCategoryTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.menuCategoryTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.menuCategoryTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.menuCategoryTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}

.cartTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.cartTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.cartTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.cartTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}