@CHARSET "UTF-8";

.menuTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.menuTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.menuTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.menuTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}